<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="./codemirror5/lib/codemirror.js"></script>
  <link rel="stylesheet" type="text/css" href="./codemirror5/lib/codemirror.css">
  <script src="./codemirror5/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" type="text/css" href="./codemirror5/theme/base16-dark.css">
</head>

<body>
  {{{body}}}
</body>

</html>